 div{
	border:2px solid black;
	min-height:30px;
	width:300px;
	margin:10px;
	border-radius:10px;
	display:flex;
	justify-content: center;
    align-items: center;
	background-color:white;
 }
 hr{
	 margin-top:30px;
	 color:black;
 }
 h3{
	 color: blue;
 }
 body{
	 border: 5px double black;
	 background-color: azure;
 }
 #addform{
	 
 }
 img{
	 width: 300px;
 }
 button:hover{
	 background-color:blue;
 }